@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@mixin resetPosition {
    margin: 0;
    padding: 0;
}

body {
    @include resetPosition();
    background: #eee;
}

.darkText {
    color: black;
}